# Ignore virtual environment directory
myvenv/

# Ignore other common directories and files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.DS_Store
.env
.vscode/
.idea/
x

# Ignore Django migration files
*/migrations/

# Ignore virtual environment directory
venv/
myvenv/

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore IDE project files
.idea/
.vscode/
